body{
    margin: 0;
}
.bigName{
    text-align: center;
}
.subName{
    text-align: center;
}
p, li{
    font-size: larger;
}
.giant{
    font-size: 28px;
}
.headbutton{
    background-color: antiquewhite;
    border: none;
    width: 300px;
    height: 40px;
}
.headbutton:hover{
    filter:brightness(85%);
    cursor: pointer;
    border: none;
    width: 300px;
    height: 40px;
}
button a{
    color: white;
    text-decoration: none;
}
.recommendations{
  display: grid;
  grid-template-columns: repeat(2, .6fr);
  background-color: antiquewhite;
  padding: 100px;
  column-gap: 20vw;
  row-gap: 10vw;
}
.recommendation{
    padding: 3px;
    background-color: white;
    border: 3px black;
    border-style: ridge;
    transition: 500ms;
}
.recommendation:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    scale: 1.05;
}
.soon{
    font-weight: bold;
}
#empty{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
}
ul{
    list-style: none;
    /* margin-bottom: 10px; */
}
li::before{
    content: "✔ ";
}
img{
    width: 100%;
    height: 200px;
}
.bigger{
    display: inline-block;
    height: 650px;
}
.begin{
    margin: 0px;
    background-color: antiquewhite;
    color: white;
    grid-template-columns: repeat();
}
.middle{
    background-image: url('https://static-cse.canva.com/blob/846920/seaportduringdaytime132037.jpg');
    margin-top: -20px;
    height: 500px;
}